/node_modules
/public/hot
/public/storage
/public/css
/public/fonts
/public/images
/public/js
/public/svg
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
.env
package-lock.json
webpack.mix.js
